<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="waterfeeConnectionString" connectionString="Data Source=(local);Initial Catalog=waterfee;Integrated Security=SSPI"
            providerName="System.Data.SqlClient" />
        <add name="waterfeeConnectionString2" connectionString="Data Source=lenovo-pc;Initial Catalog=waterfee;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="waterfeeConnectionString3" connectionString="Data Source=LENOVO-PC;Initial Catalog=waterfee;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="waterfeeConnectionString4" connectionString="Data Source=LENOVO-PC;Initial Catalog=waterfee;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="waterfeeConnectionString5" connectionString="Data Source=LENOVO-PC;Initial Catalog=waterfee;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings> 


</configuration>
